.rotate-card {
  position: relative;
  height: 100%;
  padding: 2.5rem;
  border-radius: 1rem;

  .front {
    backface-visibility: hidden;
    transition: all 1.5s;
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);

    height: 100%;
    padding: inherit;

    backface-visibility: hidden;

    transition: all 1.5s;
  }

  &:hover {
    & .front {
      transform: rotateY(180deg);
    }

    & .back {
      transform: rotateY(360deg);
    }
  }


}