.grid {
  display: grid;
  width: fit-content;
}

/* justify-items */

.justify-items-start {
  justify-items: start;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-stretch {
  justify-items: stretch;
}

/* justify-content */

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-stretch {
  justify-content: stretch;
}

/* align-items */

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-stretch {
  align-items: stretch;
}

/* align-content */

.align-content-start {
  align-content: start;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: end;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-evenly {
  align-content: space-evenly;
}

.align-content-stretch {
  align-content: stretch;
}

/* grid-auto-flow */

.direction-row {
  grid-auto-flow: row;
}

.direction-column {
  grid-auto-flow: column;
}

.direction-dense {
  grid-auto-flow: dense;
}

.max {
  width: 100%;
}
