.input-wrapper {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 8px 16px;

  border: 2px solid var(--icon-redesigned);
  border-radius: 48px;
}

.input {
  width: 100%;

  color: var(--text-redesigned);

  background: none;
  border: none;
  outline: none;

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.readonly {
  opacity: 0.7;
}

.focused {
  border: 2px solid var(--accent-redesigned);

  .addon-left svg,
  .addon-right svg {
    color: var(--accent-redesigned);
  }
}

.addon-left,
.addon-right {
  display: flex;
}

.with-addon-left {
  padding-left: 8px;
}

.with-addon-right {
  padding-right: 8px;
}

.s {
  height: 32px;
}

.m {
  height: 38px;
}

.l {
  height: 44px;
}

.is-animated-field {
  position: relative;
}

.label {
  position: absolute;
  top: 0.6em;
  left: 16px;

  color: darkgray;

  transition-duration: 0.2s;
}

.is-animated-placeholder {
  display: block;
}

.is-animated-placeholder:not(:placeholder-shown)+.label {
  translate: -16px -30px;
  scale: 0.7;
  color: black;
}