.list-table {
  min-height: 38.75rem;
  background-color: transparent;
  border: 1px solid var(--other-dark-gray);
  border-radius: var(--margin-s);

  .th {
    padding: var(--padding-m) var(--padding-s);

    color: var(--text-tertiary);
    white-space: nowrap;

    background: var(--bg-1);
    border-top-left-radius: var(--margin-s);
    border-top-right-radius: var(--margin-s);

    div {
      padding: 0 var(--padding-s);
    }
  }

  .tb {
    color: var(--neutral-100);

    .row {
      display: flex;

      width: 100%;
      min-height: 70px;
      padding: var(--padding-s);

      color: inherit;
      text-decoration: unset;

      border-bottom: 1px solid var(--other-dark-gray);

      div {
        padding: 0 var(--padding-s);
      }

      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-wrap: break-word;

        /* -webkit-line-clamp: 2; */
      }
    }

    .row:last-child {
      border-bottom: none;
    }

    .without-last-border {
      .row:last-child {
        border: none;
      }
    }

    .cursor {
      cursor: pointer;
    }

    .empty-table {
      height: 16.5rem;
      color: var(--text-tertiary);
    }

    .loader {
      cursor: initial;
      padding-top: var(--padding-m);
      border: none;
    }
  }

  .pagination-wrapper {
    margin-top: auto;
    padding-bottom: var(--padding-x-l);
  }
}

@media screen and (width < 768px) {
  .list-table {
    border: none;

    .th-off-header {
      display: none;
    }

    .tb {
      .row {
        padding: 0;
        border-bottom: 1px solid var(--other-dark-gray);

        div {
          padding: 0;
        }
      }
    }
  }
}